@use "../global/bootstrap.scss";

.example {
  background-color: bootstrap.$color-grey;
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;

  @include bootstrap.tablet {
    padding: 0 0 711px 0;
    background-color: transparent;
  }
}

.example__title {
  font-family: bootstrap.$font-oswald;
  padding-top: 25px;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  margin: 0 0 40px 0;
  max-width: 280px;

  @include bootstrap.tablet {
    font-size: 60px;
    line-height: 60px;
    max-width: 500px;
    margin: 0 0 63px 0;
    padding: 43px 30px 0 30px;
  }
}

.example__wrapper {
  width: 100%;
  margin: 0 0 20px 0;

  @include bootstrap.tablet {
    margin: 0;
    padding: 0 30px 0 30px;
  }
}

.example__description {
  font-family: bootstrap.$font-lato;
  font-weight: 400;
  color: #444444;
  margin: 0 0 20px 0;
  max-width: 100%;

  @include bootstrap.tablet {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 54px 0;
  }
}
