@use "../global/bootstrap.scss";

.header-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  @include bootstrap.tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.header-main__logo {
  position: relative;
  text-decoration: none;
  color: #111111;
  padding: 24px 0 24px 110px;
  display: flex;
  align-items: center;
  margin-right: 60px;

  @include bootstrap.tablet {
    padding-left: 72px;
  }

  @include bootstrap.desktop {
    padding-left: 84px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header-main__logo::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 12px;
  width: 34px;
  height: 38px;
  background-image: url("../img/svg/logo-mobile.svg");
  background-repeat: no-repeat;

  @include bootstrap.tablet {
    width: 60px;
    height: 50px;
    background-image: url("../img/svg/logo-tablet.svg");
  }

  @include bootstrap.desktop {
    width: 70px;
    height: 60px;
    background-image: url("../img/svg/logo-desktop.svg");
  }
}

.header-main__logo-image {
  &--not-mobile {
    padding-left: 6px;
  }

  @include bootstrap.tablet {
    &--not-mobile {
      color: #444444;
    }
  }

  @include bootstrap.desktop {
    width: 38px;
    height: 22px;

    &--not-mobile {
      width: 73px;
      padding-left: 8px;
    }
  }
}
