@use "../global/bootstrap.scss";

.map {
  position: relative;
  display: grid;
}

.map--not-index {
  & .map__contacts {
    background-color: bootstrap.$color-grey;

    @include bootstrap.desktop {
      background-color: #ffffff;
    }
  }
}

.map__link {
  grid-column: 1/-1;
  grid-row: 2/4;
  display: none;
  height: 362px;
  width: 100%;
  background-image: image-set(
    url("../img/decoration-images/map-mobile@1x.webp") 1x,
    url("../img/decoration-images/map-mobile@2x.webp") 2x,
    url("../img/decoration-images/map-mobile@1x.jpg") 1x,
    url("../img/decoration-images/map-mobile@2x.jpg") 2x
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  &--no-js {
    display: flex;
  }

  @include bootstrap.tablet {
    background-image: image-set(
      url("../img/decoration-images/map-tablet@1x.webp") 1x,
      url("../img/decoration-images/map-tablet@2x.webp") 2x,
      url("../img/decoration-images/map-back-tablet@1x.jpg") 1x,
      url("../img/decoration-images/map-tablet@2x.jpg") 2x
    );
  }

  @include bootstrap.desktop {
    background-image: image-set(
      url("../img/decoration-images/map-desktop@1x.webp") 1x,
      url("../img/decoration-images/map-desktop@2x.webp") 2x,
      url("../img/decoration-images/map-desktop@1x.jpg") 1x,
      url("../img/decoration-images/map-desktop@2x.jpg") 2x
    );
  }
}

.map__frame {
  grid-column: 1/-1;
  grid-row: 2/4;
  display: flex;
  width: 100%;
  border: none;
  position: relative;
  overflow: hidden;

  @include bootstrap.tablet {
    height: 400px;
  }

  @include bootstrap.desktop {
    height: 100%;
  }

  &--no-js {
    display: none;
  }
}

.map__contacts {
  @include bootstrap.desktop {
    grid-column: 1/-1;
    grid-row: 2 / span 1;
    z-index: 5;
    max-width: 565px;
    min-height: 198px;
    height: auto;
    background-color: #ffffff;
    margin: 95px 0 107px 110px;
    padding: 56px 60px 56px 80px;
  }
}
