@use "../global/bootstrap.scss";

.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo__wrapper {
  position: relative;
  padding: 27px 35px 0 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  @include bootstrap.tablet {
    padding: 55px 30px 526px 15%;
    align-items: start;
  }

  @include bootstrap.desktop {
    padding: 79px 30px 185px 120px;
    margin-bottom: 82px;
    max-width: 1300px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(104, 183, 56, 0.85);
    height: 63%;
    width: 100%;
    z-index: 2;

    @include bootstrap.tablet {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 63%;
    width: 100%;
    z-index: 1;
    background-image: url("../img/decoration-images/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @include bootstrap.tablet {
      display: none;
    }
  }
}

.promo__title {
  position: relative;
  font-family: bootstrap.$font-oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0 0 25px 0;
  max-width: 250px;
  color: #ffffff;
  z-index: 3;

  @include bootstrap.tablet {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin: 0 0 41px 0;
    max-width: 450px;
    text-align: left;
  }

  @include bootstrap.desktop {
    margin: 0 0 40px 0;
  }
}

.promo__subtitle {
  position: relative;
  font-family: bootstrap.$font-oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 302px 0;
  max-width: 250px;
  color: #ffffff;
  z-index: 3;

  @include bootstrap.tablet {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 49px 0;
    min-width: 300px;
    text-align: left;
  }

  @include bootstrap.desktop {
    margin: 0 0 52px 0;
  }
}

.promo__image {
  display: flex;
  position: absolute;
  bottom: 63px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  overflow: hidden;

  @include bootstrap.tablet {
    width: 709px;
    height: 609px;
    z-index: 0;
    bottom: 0;
  }

  @include bootstrap.desktop {
    width: 552px;
    height: 499px;
    z-index: 1;
    top: 0;
    transform: translateX(-29%);
  }
}

.promo__button {
  width: 280px;

  @include bootstrap.tablet {
    width: 244px;
    min-height: 54px;
    z-index: 4;
    font-size: 20px;
    line-height: 20px;
  }
}
