@use "../global/bootstrap.scss";

.propeties {
  position: relative;
  padding-bottom: 49px;
  display: flex;
  flex-direction: column;

  @include bootstrap.tablet {
    padding-bottom: 47px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
  }

  @include bootstrap.desktop {
    border-bottom: none;
  }
}

.propeties__title {
  position: relative;
  margin: 0 0 40px 0;
  font-family: bootstrap.$font-oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @include bootstrap.tablet {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 32px 0;
  }
}

.propeties__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  row-gap: 20px;
  counter-reset: propeties;

  @include bootstrap.tablet {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 247px));
    row-gap: 37px;
    column-gap: 19.3%;
    width: 100%;
  }

  @include bootstrap.desktop {
    grid-template-columns: repeat(auto-fit, minmax(237px, max-content));
    column-gap: 7.2%;
    margin: 0 auto;
  }
}

.propeties__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60px;
  padding-left: 80px;

  @include bootstrap.tablet {
    min-height: 280px;
    padding-left: 0;
    padding-top: 94px;

    &::after {
      counter-increment: propeties;
      content: "" counter(propeties) "";
      position: absolute;
      right: 0;
      bottom: 0;
      font-family: bootstrap.$font-oswald;
      font-size: 280px;
      line-height: 280px;
      color: bootstrap.$color-grey;
      z-index: 0;
      width: 140px;
      display: flex;
      justify-content: center;
    }
  }

  @include bootstrap.desktop {
    min-height: 280px;
    padding-left: 0;

    &::after {
      width: 123px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: bootstrap.$color-green;
    background-repeat: no-repeat;
    background-position: center;

    @include bootstrap.tablet {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
    }
  }
}

.propeties__item--nutrition {
  &::before {
    background-image: url("../img/svg/icon-leaf.svg");
  }
}

.propeties__item--form {
  &::before {
    background-image: url("../img/svg/icon-powder.svg");
  }
}

.propeties__item--reception {
  &::before {
    background-image: url("../img/svg/icon-eat.svg");
  }
}

.propeties__item--effect {
  &::before {
    background-image: url("../img/svg/icon-clock.svg");
  }
}

.propeties__description {
  margin: 0;
  font-family: bootstrap.$font-lato;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  max-width: 100%;
  z-index: 2;

  @include bootstrap.tablet {
    font-size: 16px;
    line-height: 24px;
  }
}
