@use "../global/bootstrap.scss";

.container {
  padding: 0 20px;

  @include bootstrap.tablet {
    padding: 0 30px;
    margin: 0 auto;
    width: 100%;
  }


  @include bootstrap.desktop {
    padding: 0 110px;
  }
}

